.FooterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    .AllFooter {
        text-align: center;
        color: #8F9BBB;
    }
    .LogoContainer {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
    }
}
