.NavbarLayout{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    .PagesButton {
        position: relative;
        background-color: #1E1E30;
        border: 3px solid #5d63737d;
        
        &:hover {
            border: 4px solid #7686af;
        }
    }
    .OffcanvasLayout{
        .OffcanvasHeader{
            .btn-close{
                color: #ffffff;
            }
        }
    }
    .MakeMakeLogo{
        transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;

        &:hover {
          transform: scale(1.1);
        //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          opacity: 0.8;
        }
    }
}