.NavbarLayout{
    width: 100%;
    height: 140px;
    // background-color: rgb(17, 151, 196);
    display: flex;
    justify-content: space-around;
    .PagesButton {
        position: relative;
        background-color: #1E1E30;
        border: 3px solid #5d63737d;
        width: 66px;
        height: 58px;
    
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
            height: 3px;
            background-color: #ffffff;
        }
    
        &::before {
            transform: translate(-50%, -50%) translateY(-8px);
        }
    
        &::after {
            transform: translate(-50%, -50%) translateY(8px);
        }
    
        &:hover {
            border: 4px solid #7686af;
        }
    }
    .OffcanvasLayout{
        .OffcanvasHeader{
            .btn-close{
                color: #ffffff;
            }
        }
    }
    .MakeMakeLogo{
        border-radius: 15px;
    }
}